//
   Created by whyer on 14-2-9.
extends layout

block content
  script(src='../javascripts/addclasses.js')
  script(src='../javascripts/jquery.ztree.core-3.5.js')
  script(src='../javascripts/jquery.ztree.excheck-3.5.js')
  script(src='../javascripts/jquery.ztree.exedit-3.5.js')
  script(charset="utf-8" id="seajsnode" src="http://static.alipayobjects.com/seajs/1.3.1/??sea.js,plugin-combo.js")
  script.
    seajs.config({
      alias : {
        '$' : 'gallery/jquery/1.7.2/jquery',
        'validator' : 'arale/validator/0.9.4/validator'

      }
    });
    $(function(){
      seajs.use([ '$', 'validator' ], function($, Validator){
        var validator = new Validator({
          element : '#election',
          onFormValidated : function(err, results, form) {
            window.console && console.log&& console.log(err, results, form);
          },
          failSilently : true
        });
        validator.addItem({
          element:'#username',
          required:true
        })

    });

  button#add_class addclass
  div.container
    div#addclass_name.pull-left
      ul#treeDemo.ztree
    div#addclass_props.pull-left
  div.modal.hide.fade#myModal(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
    div.modal-header
      button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
      h3 新建子类型
    div.modal-body
      form.ui-form#election(action="",method="post")
        div.ui-form-item
          label.ui-label(for="username") 用户名
            span.ui-form-required *
          input#username.ui-input(name="username",type="text")
          div.ui-form-explain 用户名为电子邮箱
    div.modal-footer
      button.btn 关闭


