//
   Created by whyer on 14-2-9.
extends layout

block content
  script(src='../javascripts/clses_all.js')
  div.container
    div.row
      div.col-md-3
        div.siderbar
          ul#treeDemo.ztree

      div.col-md-9
        div#class_opts
          div
            a.btn.btn-danger.delclass 删除
            a.btn.btn-default.alterclass 修改
            a.btn.btn-success.getparentID 新建
        table.table
          thead
            tr
              th 属性名
              th 属性类型
              th 列名
              th 列类型
              th 类型长度
              th 是否可见
              th 是否可改
              th 是否可删
              th 属性代码
          tbody#class_props




