//
   Created by whyer on 14-2-9.
extends layout

block content
  script(src='../javascripts/addclasses.js')
  script(src='../javascripts/jquery.ztree.core-3.5.js')
  script(src='../javascripts/jquery.ztree.excheck-3.5.js')
  script(src='../javascripts/jquery.ztree.exedit-3.5.js')
  div.navbar.navbar-fixed-top.navbar-inverse
    div.navbar-inner
      div.container-fluid
        a.brand 类型管理器
  div.container-fluid(style="margin-top:40px")
    div.row-fluid
      div.span2
        div.siderbar
          ul#treeDemo.ztree
      div.span1#class_opts
      div.span9
        table.table
          thead
            tr
              th 属性名
              th 属性类型
              th 列名
              th 列类型
              th 类型长度
              th 是否可见
              th 是否可改
              th 是否可删
              th 属性代码
          tbody#class_props

        form.form-horizontal#election(action="/add_child_classes",method="post")
          div.modal.fade.mymodal#myModal(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
            div.modal-header
              button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
              h3 新建子类型
            div.modal-body
              div.row-fluid
                div.span4
                  label 类型名称
                  input#class_name(name="class_name",type="text",placeholder="类型名称")
                  label 类型表名称
                  input#class_tab_name(name="class_tab_name",type="text",placeholder="类型表名称")
                  input#parent_class_id(name="parent_class_id",type="hidden")
                div.span8.pull-left
                  h3 属性
                  ul.thumbnails#props
                  a.btn.btn-info#newprop 新建属性
            div.modal-footer
              input.btn(type="submit")
              button.btn 关闭



