//
   Created by whyer on 14-3-24.
extends layout

block content
  script(src='../../javascripts/app_display.js')
  div.container
    div.row-fluid
      div.span3
        h4.header-title.pull-left #{appname}
      div.span6
      div.span3
        a.header-title.back-btn(href='javascript:history.back();') 返回
  div.container-fluid
    div.row-fluid
      div.span3.offset1
        div.siderbar
          ul#treeDemo.ztree
      div.span7
        div#operatearea.operatearea

  input#app(value = '#{appid}',type='hidden')
