//
   Created by whyer on 14-3-20.
extends layout

block content
  div.container
    h1.pull-left.header-title 所有的Apps
  div.container
    each val in appinfo
        a.platform-app(href='/app/'+val.APP_ID+'/view')=val.APP_NAME