//
   Created by whyer on 14-3-20.
extends layout

block content
  script(src='../javascripts/app_display.js')
  ul
    each val in appinfo
      li
        a.btn.btn-danger(href='/app/'+val.APP_ID+'/view')=val.APP_NAME