//
   Created by whyer on 14-3-24.
extends layout

block content
  script(src='../../javascripts/app_display.js')
  div.navbar.navbar-fixed-top.navbar-inverse
    div.navbar-inner
      div.container-fluid
        a.brand #{appname}
  div.container-fluid(style="margin-top:40px")
    div.row-fluid
      div.span2
        div.siderbar
          ul#treeDemo.ztree
      div.span1#class_opts
      div.span9
        div.hero-unit
  input#app(value = '#{appid}',type='hidden')
