//
   Created by wanghuanyu on 14-10-14.

extends layout

block content
  script(src="../javascripts/app_create.js")
  div.container-fluid
    div.row-fluid
      div.span4.offset4#cover
        h3.header-title 请选择一个引用
        p.header-title 选择一个引用,用以生成新应用的根节点.
        div.well
          div.container-fluid
            ul#treeDemo.ztree
        div#refto
        a#nextstep