//
   Created by wanghuanyu on 14-9-30.

extends layout

block content
  script(src='../javascripts/clses_links.js')
  div.navbar.navbar-fixed-top.navbar-inverse
    div.navbar-inner
      div.container-fluid
        a.brand 类型连接管理
  div.container-fluid(style="margin-top:40px")
    div.row-fluid
      div.span1
      div.span2
        div.siderbar
          ul#treeDemo.ztree
      div.span3
        h3 已连接的类型
        div#linked.accordion
          a 这里将显示左侧已选中类型的已连接的类型
      div.span3
        h3 未连接的类型
        div#unlinked.unlinked
          a 这里将显示左侧已选中类型未连接的类型
      div.span3
        a#link.btn.btn-info 连接
        a#unlink.btn.btn-danger 删除连接