//
   Created by wanghuanyu on 14-10-28.

extends layout
block content
   script(src='../javascripts/grantor_create.js')
   input#username(placeholder='请输入用户组名')
   a.btn.btn-info#create(data-system='F') 创建
