extends layout

block content
  link(rel='stylesheet', href='/stylesheets/for_index.css')
  div.container
    div.inner.cover
      h1.cover-heading Sign in
      div.container-fluid
        form.form-signin(action='/users_signin',method='post')
          input.form-control(type='email',placeholder='Email address',required,autofocus,name='userid')
          input.form-control(type='password',placeholder='Password',required,name='password')
          button.btn.btn-lg.btn-block(type='submit') Sign in