extends layout

block content
  link(rel='stylesheet', href='/stylesheets/for_index.css')
  div.sign-in-form
    div.form-header
      div.form-title 登录到 GMIS
    form.form-horizontal(action='/users_signin',method='post')
      a.label-important.label=err
      div.form-group
        input.input-lg.form-control(type='text',placeholder='Email address',required,autofocus,name='userid')
      div.form-group
        input.input-lg.form-control(type='password',placeholder='Password',required,name='password')
      div.form-group
        button.btn.btn-lg.btn-success.pull-right(type='submit') 登录
        a.btn.btn-link.btn-lg 注册