doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/zTreeStyle.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet"
    href="http://assets.alipay.com/al/alice.components.ui-button-orange-1.3-full.css")
    link(rel="stylesheet" href="http://assets.alipay.com/al/alice.components.ui-form-1.0-src.css")
    script(src='/javascripts/jquery-1.11.0.min.js')
    script(src='/javascripts/bootstrap.js')
  body
    block content