doctype html
html
  head
    title= title
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/zTreeStyle.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/contextMenu.css')
    script(src='/javascripts/jquery-1.11.0.min.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/jquery.ztree.core-3.5.js')
    script(src='/javascripts/jquery.ztree.excheck-3.5.js')
    script(src='/javascripts/jquery.ztree.exedit-3.5.js')
    script(src='/javascripts/Go_Right.js')
  body
    block content