//
   Created by wanghuanyu on 14-9-30.
extends layout

block content
  script(src='../../javascripts/platform_index.js')

  div.navbar-wrapper
    div.container
      nav.navbar.navbar-default
        div.container
          div.navbar-header
            a.navbar-brand 管理信息系统动态建模实验平台
          div.collapse.navbar-collapse
            p.pull-right.navbar-text=user
              | 你好

  div.container
    div.row
      div.col-md-4
        div.panel.panel-primary
          div.panel-heading
            h3.panel-title 类型建模
          div.panel-body
            a.btn.btn-info.btn-block(href='/add_child_classes') 类型管理器
            a.btn.btn-info.btn-block(href='/clslinks_view') 类型连接管理
      div.col-md-4
        div.panel.panel-success
          div.panel-heading
            h3.panel-title App建模
          div.panel-body
            a.btn.btn-info.btn-block(href='/app_createapps') 创建App
            a.btn.btn-info.btn-block(href='/app_index') App列表
            a.btn.btn-info.btn-block(href='/app_manager') App管理器
            a.btn.btn-info.btn-block(href='/app_weakclass') App类型强弱关联
      div.col-md-4
        div.panel.panel-danger
          div.panel-heading
            h3.panel-title 权限建模
          div.panel-body
            a.btn.btn-info.btn-block(href='/grantor_create_view') 创建用户
            a.btn.btn-info.btn-block(href='/grantors_create_view') 创建用户组
            a.btn.btn-info.btn-block(href='/grantor_manage_view') 管理用户/用户组
            a.btn.btn-info.btn-block(href='/grantor_app_view') 用户/组App关联
