//
   Created by wanghuanyu on 14-9-30.
extends layout

block content

  div.row-fluid
    div.span6.offset3
      h1.text-center 管理信息系统
      div.container-fluid
        a.platform-app(href='/add_child_classes') 类型管理器
        a.platform-app(href='/app_index') 我的应用列表
        a.platform-app(href='/clslinks_view') 类型连接管理
        a.platform-app(href='/app_manager') APP管理器
        a.platform-app(href='/app_createapps') 创建APP
        a.platform-app(href='/app_weakclass') APP类型强弱关联
        a.platform-app(href='/grantor_create_view') 创建用户
        a.platform-app(href='/grantors_create_view') 创建用户组
        a.platform-app(href='/grantor_manage_view') 管理用户/用户组
        a.platform-app(href='/grantor_app_view') 用户/用户组与APP关联
