//
   Created by wanghuanyu on 14-9-30.
extends layout

block content

  div.container
    a.platform-app(href='/add_child_classes') 类型管理器
    a.platform-app(href='/app_index') 我的应用列表
    a.platform-app(href='/clslinks_view') 类型连接管理
    a.platform-app(href='/app_manager') APP管理器
    a.platform-app(href='/app_createapps') 创建APP