//
   Created by wanghuanyu on 14-10-15.

extends layout
block content

  div.container
    h1.pull-left.header-title 我的应用中心
    h3.pull-right.header-title=user
      | ,你好
  div.container
    div.gridly
      each val in apps
        div.brick.small
          a.platform-app(href='/app/'+val.APP_ID+'/view')=val.APP_NAME

  script.
    $('.gridly').gridly({
      base: 60, // px
      gutter: 20, // px
      columns: 12
    })