/**
 * Created by whyer on 14-5-9.
 */

.contextMenu {
    -webkit-user-select: none;
    display: none;
    font-family: tahoma, arial, sans-serif;
    font-size: 11px;
    position: absolute;
    left: 100px;
    top: 100px;
    min-width: 180px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.contextMenu > li {
    padding: 0;
}

.contextMenu > li > a {
    display: block;
    height: 22px;
    line-height: 22px;
}

.contextMenu > li > a > span {
    padding: 0;
    margin-left: 17px;
}

.contextDivider {
    border-top: 1px solid #e7e3e7;
    border-bottom: 1px solid #ffffff;
    height: 0;
    padding: 0;
    margin: 5px 0 5px 0px;
}

.contextMenu > li > a:hover {
    color: #fff;
    background-color: #0088cc;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;

}