.sign-in-form {
    width: 360px;
    height: 200px;
    position: absolute;
    left: 50%;
    top:33%;
    margin: -100px 0 0 -180px;
}

.form-title {
    font-size: 30px;
    text-align: center;
    padding: 20px;
}